DPUMESH_NODE_NAME=rapids4
DPUMESH_SLOTS=2
DPUMESH_CONTROLLER_URL=https://10.111.156.252:8443
DPUMESH_DPU_FEED_HOST=192.168.100.2
DPUMESH_DPU_FEED_PORT=4788
DPUMESH_NODE_RDMA_ADDR=192.168.100.2:47900
DPUMESH_PCI_ADDR=94:00.0
DPUMESH_RINGS_PER_POD=8
DPUMESH_WORKER_CPU_MAX=50000
DPUMESH_WORKER_MEMORY_HIGH=805306368
DPUMESH_WORKER_MEMORY_MAX=1073741824
DPUMESH_WORKER_PIDS_MAX=64
